.contact-button {
  width: 50px;
  background-color: coral;
  color: white;
}

.background {
  background-image: url(https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/2154758/settings_images/E7hFezDgTwKeAqQryBrX_file.jpg);
  background-position: center;
}
